*{
  margin: 0;
  padding: 0;
}

.cabecalho{
  background-color: darkslategrey;
  color: tomato;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 0;
}

.cabecalho-lista-item{
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
}

.escola-imagem{
  width: 30%;
}

.escola{
  background-image: linear-gradient(#b44242, #3db761);
  color: #3db761;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.escola-div-conteudo{
  width:35%;
}

.escola-titulo{
  padding:24px 0;
}
.estudantes{
padding: 24px 0;
}

.estudantes-div{
  text-align: center;
  padding: 10px 0;
}

.estudantes-todos{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}


.estudantes-titulo{
  text-align: center;
  padding: 24px 0;
}

.escola-titulo{
  text-align: center;
  padding: 24px 0;
}































@media(max-width: 768px){
  .cabecalho{
    flex-direction: column;
    text-align: center;
  }

.cabecalho-lista-item{
  display: block;
  margin: 8px;
}

.escola{
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.escola-imagem{
  width: 100px;
}

.estudantes-todos{
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr);
  padding: 0% 10px;
}
}